<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- load the property file -->
    <context:property-placeholder location="classpath:sport.properties"/>
    <!-- For scan different @Component elements over the code -->
    <context:component-scan base-package="com.luv2code.springdemo" />

    <!--<bean id="betaCoach" class="com.luv2code.springdemo.coaches.BaseballCoach"/>-->

    <!--<bean id="fortuneService" class="com.luv2code.springdemo.FortuneService" scope="prototype">-->
        <!--<constructor-arg name="coach" ref="betaCoach"/>-->
    <!--</bean>-->

    <!--<bean id="cricketCoach" class="com.luv2code.springdemo.coaches.CricketCoach" init-method="initBean" destroy-method="destrBean">-->
        <!--&lt;!&ndash; set up setter injection &ndash;&gt;-->
        <!--<property name="fortuneService" ref="fortuneService"/>-->

        <!--&lt;!&ndash; inject props value to fields &ndash;&gt;-->
        <!--<property name="emailAddress" value="melnik@mit.com"/>-->
        <!--<property name="team" value="${foo.team}" />-->
    <!--</bean>-->
    
</beans>





